/**************GENERAL**********************/
*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  margin: 0;
  background-color: #ffeecc;
  font-family: 'Yomogi', cursive;
  font-size: 1.6rem;
}
a{
  text-decoration: none;
}
.active{
  background-color: #ff8000;
  border-radius: 3px;
}
main {
  min-height: calc(100vh - 167px - 127px - 60px);
}
/***************HEADER***********************/

header{

  background-color: #ff8000;
  text-align: center;
}
#head{
  text-decoration: none;
  color: #ffffff;
  margin:0;
  padding: 0;
}
#head img{
  display: inline-block;
  max-width: 110px;
  padding-top: 10px;

}
.titolo{
  display: inline-block;
  margin:auto 150px auto 150px;
}
.titolo h1{

  padding-bottom: 0px;
  font-size: 5rem;
  margin-top: 0;
  margin-bottom: 0;
}
.titolo h3{
  padding: 0;
  margin:0;
}
#nav li a{
  color: #ffffff;
  padding:2px 5px;
}
#nav{
  list-style-type: none;
  background-color: #e67300;
  margin-top: 5px;
}
#nav li{
  display: inline-block;
  padding: 6px 25px 6px 25px;
}

/******************BODY********************/

main {
  width: 90%;
  margin:30px auto;
  color:#4d2600;
}
main p{
  text-align: justify;
}
main img{
  align-self: auto;
  width: 100%;
}

/************************Footer************************************************/

footer.main{
  clear:both;
  text-align:center;
}
.social{

  padding-top: 20px;
  padding-bottom: 10px;
}
.social a img{
  max-height: 50px;
  margin: auto 10px;
}
.social p{
  font-size: 1.2rem;
}


/***********************media query********************************************/

@media only screen and (min-width:992px) {

/****************************************Header********************************/

  #nav li a{
    transition: background 0.4s;
  }
  #nav li a:hover{
    background-color: #ff8000;
    border-radius: 3px;
  }
}
@media only screen and (max-width:768px) {
  .nav li{
    padding: 5px 10px 5px 10px;
  }
}
