/**************GENERAL**********************/
*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  margin: 0;
  background-color: #ffeecc;
  font-family: 'Yomogi', cursive;
  font-size: 1.6rem;
}
a{
  text-decoration: none;
}
.active{
  background-color: #ff8000;
  border-radius: 3px;
}
main {
  min-height: calc(100vh - 167px - 127px - 60px);
}
/***************HEADER***********************/

header{

  background-color: #ff8000;
  text-align: center;
  position: fixed;
  width:100%;
  top:0;
}
#head{
  text-decoration: none;
  color: #ffffff;
  margin:0;
  padding: 0;

}
#head img{
  padding-top: 10px;
  
}
.titolo{

}
.titolo h1{

  padding-bottom: 0px;
  font-size: 5rem;
  margin-top: 0;
  margin-bottom: 0;
}
.titolo h3{
  padding: 0;
  margin:0;
}
#nav li a{
  color: #ffffff;
  padding:0px 5px;
}
#nav{
  list-style-type: none;
  background-color: #e67300;
  margin-top: 5px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}


/******************BODY********************/

main {
  width: 90%;
  margin:30px auto;
  color:#4d2600;
}
main p{
  text-align: justify;
}
main img{
  align-self: auto;
  width: 100%;
  border-radius: 8px;
}

/************************Footer************************************************/

footer.main{
  clear:both;
  text-align:center;
}
.social{

  padding-top: 20px;
  padding-bottom: 10px;
}
.social a img{
  max-height: 50px;
  margin: auto 10px;
}
.social p{
  font-size: 1.2rem;
}


/***********************media query********************************************/

@media only screen and (min-width:992px) {

/****************************************Header********************************/
  #head {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #head img{
    max-width: 110px;
  }
  .titolo{
    margin:auto 150px auto 150px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
  #nav li a{
    transition: background 0.4s;
  }
  #nav li a:hover{
    background-color: #ff8000;
    border-radius: 3px;
  }
  #nav li{

    padding: 6px 25px 6px 25px;
  }
  #main-container{
    margin-top: 180px;
  }
  .principale{
    display: flex;
  }
  .principale p{
    padding-left: 20px;
    margin-top: 0;
  }
  .principale img{
    width:60%;
    float: left;
    order: -1;
  }
}

@media only screen and (max-width:992px){
  .titolo{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  #head{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .Logo1, .Logo2{
    order: -2;
    max-width: 60px;
  }
  .Logo2{
    display: none;
  }
  #nav li{

    padding: 6px 10px 6px 10px;
  }
  #main-container{
    margin-top: 250px;
  }
}

